
<div class="ui middle aligned center grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="https://image.freepik.com/free-icon/film-reel-bridge_318-52560.jpg" class="image">
      <div class="content">
        Films Db
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" [(ngModel)]="user" placeholder="Usuario">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña">
          </div>
        </div>
        <div (click)="login()" class="ui fluid large teal submit button">Login</div>
      </div>
    </form>
      
    <div *ngIf="showError" class="ui error message">
        <p>Contraseña o Usuario invalidos, intentalo de nuevo</p>
      </div>
  </div>
</div>